@import "../../../../scss/index.scss";

.holidays-list {
    margin-bottom: 20px;
    background-color: #ffffff;

    .users-active {
        padding: 10px 20px;

    .ant-list-item-meta {
        display: flex;
        align-items: center;
    }
  }

}
